<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
  
   
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../css/myntra.css">
</head>
<body>
    <section id="headerBlock">
        <article>
            {{>_myntra_navbar}}
        </article>
    </section>
    <aside>{{>_msg}}</aside>


  
 
<div class="container">
    {{{body}}}
</div>



    <script src="../../jquery/dist/jquery.js"></script>
    <script src="../../popper.js/dist/popper.js"></script>
    <script src="../../bootstrap/js/dist/bootstrap.js"></script>
    <script src="../../js/client.js"></script>
</body>
</html>